$mainBlue: #11267c;
$mainPink: #f3b3a6;
$mainYellow: #f4ca54;

.record-container {
  background-color: $mainBlue;
  color: $mainPink;

  .record-sub-container {
    min-height: calc(100vh - 120px);
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 18px;

    h1 {
      font-size: 24px;
      margin: 24px 0 12px 0;
      font-weight: 700;
      color: white;
    }

    p {
      font-size: 16px;
      line-height: 1.5em;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .top-section {
        display: flex;
        gap: 15px;

        .label-col {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-weight: 700;

          label {
            height: 28px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
          }
        }

        .input-col {
          display: flex;
          flex-direction: column;
          gap: 10px;

          input[type="number"] {
            border-radius: 10px;
            outline: none;
            border: 1.5px solid white;
            padding: 6px 12px;
            width: 75px;
            box-sizing: border-box;
            height: 28px;
            font-family: "Nunito", sans-serif;
            height: 28px;

            &::placeholder {
              color: #b7b7b7;
            }
          }

          .input-row {
            display: flex;
            gap: 5px;
            align-items: center;
          }
        }
      }

      .btm-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: 65px;

        .record-submit-btn {
          border-radius: 10px;
          outline: none;
          border: 1.5px solid white;
          box-sizing: border-box;
          height: 28px;
          font-family: "Nunito", sans-serif;
          height: 32px;
          cursor: pointer;
          width: 50%;
          background-color: $mainBlue;
          color: white;
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            border-color: $mainYellow;
            color: $mainYellow;
          }
        }

        .record-err-msg {
          color: #fc4242;
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .record-container {
    .record-sub-container {
      form {
        .top-section {
          gap: 80px;
          .label-col {
            label {
              width: 150px;
            }
          }
          .input-col {
            .input-row {
              gap: 15px;
            }
          }
        }
      }
    }
  }
}
