$mainBlue: #11267c;
$mainPink: #f3b3a6;
$mainYellow: #f4ca54;

.home-container {
  height: calc(100vh - 120px);
  background-color: $mainBlue;
  color: $mainPink;

  .home-sub-container {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    height: 100%;
    justify-content: space-around;

    .home-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      h1 {
        font-size: 24px;

        span {
          color: white;
        }
      }

      p {
        color: white;
        font-weight: 300;
        line-height: 1.5em;

        span {
          color: $mainYellow;
          font-style: italic;
        }
      }
    }

    img {
      height: 100px;
      width: 150px;
      padding: 15px;
      object-fit: contain;
      border-radius: 10px;
      background-color: $mainYellow;
    }
  }
}
