$mainBlue: #11267c;
$mainPink: #f3b3a6;
$mainYellow: #f4ca54;

.signup-container {
  min-height: calc(100vh - 120px);
  background-color: $mainBlue;
  color: $mainPink;
  display: flex;
  align-items: center;

  .signup-sub-container {
    width: 300px;
    height: 100%;
    margin: 0 auto;

    .signup-framed-form {
      display: flex;
      flex-direction: column;
      gap: 25px;
      border: 1.5px $mainPink solid;
      border-radius: 10px;
      height: 400px;
      width: 100%;
      padding: 20px;
      align-items: center;
      box-sizing: border-box;

      h1 {
        font-size: 24px;
        margin-top: 16px;
        font-weight: 700;
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .form-name-row {
          display: flex;
          gap: 12px;
          width: 100%;

          input {
            width: 50%;
          }
        }

        input {
          border-radius: 10px;
          outline: none;
          border: 1.5px solid white;
          padding: 6px 12px;
          width: 100%;
          box-sizing: border-box;
          height: 28px;
          font-family: "Nunito", sans-serif;
          height: 28px;

          &::placeholder {
            color: #b7b7b7;
          }
        }

        .signup-submit-btn {
          cursor: pointer;
          width: 50%;
          background-color: $mainBlue;
          color: $mainYellow;
          border-color: $mainYellow;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
        }
      }

      .error-msg {
        color: #fc4242;
      }
    }
  }
}
